{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Desasignar dieta</h2>
    <p>¿Deseas quitar la dieta <strong>{{ cliente_dieta.dieta.nombre }}</strong> al cliente <strong>{{
        cliente_dieta.cliente.nombre }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger">Sí, quitar</button>
        <a href="{% url 'listar_dietas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
