# Framework y Base de Datos
Django
psycopg2-binary
dj-database-url

# Servidor de Producción
uvicorn
whitenoise

# Tareas en segundo plano
celery
django-celery-beat
redis # Celery necesita esto para comunicarse

# Utilidades
requests
django-widget-tweaks

# LIBRERÍAS DE ANÁLISIS Y REPORTES (NECESARIAS)
numpy
pandas
scikit-learn
matplotlib
seaborn
reportlab
